@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface-primary: #ffffff;
    --surface-secondary: #dfeef7;
    --surface-tertiary: #f0f7fc;
    --surface-quaternary: #fffcf0;
    --surface-highlight: #007bc7;
    --surface-accent: #FFC901;
    --text-primary: #000000;
    --text-secondary: #6C6C6C;
}

  :root[class~="dark"] {
    --surface-primary: #000000;
    --surface-secondary: #02111A;
    --surface-tertiary: #1f1f1f;
    --surface-quaternary: #1a1605;
    --text-primary: #ffffff;
    --text-secondary: #aeaeae;
  }
}

@layer utilities {

  span {
    @apply tracking-wide;
  }

  .card-base {
    @apply flex items-center justify-between rounded-2xl;
  }

  /*
  .surface-primary {
    @apply bg-white dark:bg-black;
  }

  .surface-secondary {
    @apply bg-sky-100 dark:bg-blue-950;
  }

  .surface-tertiary {
    @apply bg-blue-50 dark:bg-zinc-900;
  }

  .surface-quaternary {
    @apply bg-yellow-50 dark:bg-yellow-950;
  }

  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-neutral-500 dark:text-gray-500;
  }*/
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  p, a {
    letter-spacing: 0.015em;
  }
}
